@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600&display=swap');

:root {
    --main-color: #22BAA0;
    --color-dark: #34425A;
    --text-grey: #B0B0B0;
}



* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}

.header_main {
    /* border: 1px solid red; */

}



#menu-toggle {
    display: none;

}

.sidebar {
    position: fixed;
    height: 100%;
    width: 165px;
    left: 0;
    bottom: 0;
    top: 81px;
    z-index: 100;
    background: var(--color-dark);
    transition: left 300ms;

}

.side-header {
    background: var(--main-color);
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-header h3 {
    color: #fff;
    font-weight: 400;
}

.side-content {
    height: calc(100vh - 60px);
    overflow: auto;
}

.side-menu ul {
    text-align: center;

}

.side-menu a {
    display: block;
    padding: 1.2rem 0rem;
}

.side-menu a.active {
    background: #2B384E;
}

.side-menu a.active span,
.side-menu a.active small {
    color: #fff;
}

.side-menu a span {
    display: block;
    text-align: center;
    font-size: 1.7rem;
}

.side-menu a span,
.side-menu a small {
    color: #f6f3ee;
}

.main-content {
    margin-left: 165px;
    width: calc(100% - 165px);
    transition: margin-left 300ms;
    /* border: 1px solid yellow; */
}


.nav__links li a .button_form1{
	  background-color: #15c4c4;
  color: white;
  border: none;
  border-radius:10px ;
  padding: 10px;
	
	}
.button_form1 {
    background-color: #15c4c4;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    /* margin-left: 370px; */
}
/* #menu-toggle:checked ~ .sidebar  {
    width: 60px;
}
#menu-toggle:checked ~ .side-header  {
    width: 160px;
}


#menu-toggle:checked ~ .main-content {
    margin-left: 60px;
    width: calc(100% - 60px);

}

#menu-toggle:checked ~ .main-content header {
    left: 60px;
}

#menu-toggle:checked ~ .sidebar .side-menu a small {
    display: none;
}

#menu-toggle:checked ~ .sidebar .side-menu a span {
    font-size: 1.3rem;
} */



/* header {
    position: fixed;
    right: 0;
    top: 0;
    left: 165px;
    z-index: 100;
    height: 60px;
    box-shadow: 0px 5px 5px -5px rgb(0 0 0 /10%);
    background: #fff;
    transition: left 300ms;
    
}

.header-content, .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
}

.header-content label:first-child span {
    font-size: 1.3rem;
}

.header-content label {
    cursor: pointer;
}

.header-menu {
    justify-content: flex-end;
    padding-top: .5rem;
}

.header-menu label,
.header-menu .notify-icon {
    margin-right: 2rem;
    position: relative;
}

.header-menu label span,
.notify-icon span:first-child {
    font-size: 1.3rem;
}

.notify-icon span:last-child {
    position: absolute;
    background: var(--main-color);
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: -5px;
    top: -5px;
    color: #fff;
    font-size: .8rem;
    font-weight: 500;
} */